<div class="page-header">
  <h1>BCI for everyone, everywhere</h1>
  <p class="lead">Bethamine is a network of workshops where breakthrough BCI ideas are tested and implemented. <br/>The future is now.</p>
</div>
<p class="lead"> Идите на Хуй........ </p>
